{% extends "travel/base.html" %}

{% block title %}
    旅行管理アプリ
{% endblock %}

{% block content %}

<div class="form-page">

    <div class="form-page-header">
        <div>
            <h2>旅行管理アプリ</h2>
        </div>
    </div>

    <div class="trip-empty-state">

        <h2>
            まだ旅行がありません
        </h2>

        <p>
            新しい旅行を作成して始めよう。
        </p>

        <a
            href="{% url 'travel:travel_group_create' %}"
            class="small-action-button"
        >
            ＋ 新しい旅行を作る
        </a>

    </div>

</div>

{% endblock %}